# pgRouting %%PGROUTING_FULL_VERSION%% (pg%%PG_MAJOR%%)

pgRouting Docker image (version %%PGROUTING_FULL_VERSION%%) built over [Postgres %%PG_MAJOR%%/PostGIS %%POSTGIS_VERSION%%](https://hub.docker.com/r/postgis/postgis/tags?page=1&name=%%PG_MAJOR%%-%%POSTGIS_VERSION%%) and dependencies.
